{% extends 'base.html' %}
{% block content %}
{{block.super}}
<p>{{today}}</p>
<!--displaying all images-->
<div class="container">
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <h6>Sort by Location:</h6>
            {% for location in locations%}
            <a href="{% url 'display_location' location.id%}">
                <select name="" id="">
                    <option value="" label="{{location.location}}"></option>
                </select>
            </a>
            {% endfor %}
        </div>
    </div>

<div class="row">
        {%for image in all_images%}
        <div class="col-md-6">
            <img src="{{image.image.url}}" class="card-img-top" alt="{{image.image_name}}">
            <h5>{{image.image_name}}</h5>
            <h5>{{image.image_description}}</h5>
            <p class="text-muted">
               Category: ~{{image.category}}~
                <br>Location: ~{{image.img_location}}~</p>
            <input type="text" value="/image/{{image.id}}">
        </div>
        {% empty %}
        {% endfor %}
    </div>
</div>
{% endblock%}