{% extends 'base.html' %}
{% block content %}
{{block.super}}
<h1 class="text-center">Hello just wait I'm posting some photos in a few</h1>
<p>{{today}}</p>
<!--displaying all images-->
<div class="container">
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-2">
            <h6>Sort by category:</h6>
            <form action="" class="size">
                <select class="form-control" name="" id="">
                    <option value="" label="-----"></option>
                    <a href="">
                        <option value="" label="Travel"></option>
                    </a>
                    <a href="">
                        <option value="" label="Summer"></option>
                    </a>
                    <a href="">
                        <option value="" label="Landscapes"></option>
                    </a>
                    <a href="">
                        <option value="" label="Food"></option>
                    </a>
                    <a href="">
                        <option value="" label="Pets"></option>
                    </a>
                </select>
            </form>
        </div>
        <div class="col-md-2">
            <h6>Sort by Location:</h6>
            <form action="">
                 <select class="form-control" name="" id="">
                    <option value="" label="-----"></option>
                    <a href="">
                        <option value="" label="Road"></option>
                    </a>
                    <a href="">
                        <option value="" label="Sea"></option>
                    </a>
                    <a href="">
                        <option value="" label="Space"></option>
                    </a>
                    <a href="">
                        <option value="" label="Wild"></option>
                    </a>
                    <a href="">
                        <option value="" label="Magic World"></option>
                    </a>
                </select>
            </form>
        </div>
    </div>
    <div class="row">
        {%for image in all_images%}
        <div class="col-md-6">
            <img src="{{image.image.url}}" class="rounded img-responsive" alt="{{image.name}}">
            <h5>{{image.image_name}}</h5>
            <h5>{{image.image_description}}</h5>
        </div>
        <div class="col-md-6">

        </div>
        {% empty %}
        <h1 class="bg-primary text-center">No Images have been posted yet</h1>
        {% endfor %}
    </div>
</div>
{% endblock %}