{%extends 'base.html'%}
{% block content %}
{{block.super}}
<div class="container">
    {% for image in images %}
    <div class="col-md-6">
            <img src="{{image.image.url}}" class="rounded img-responsive" alt="{{image.name}}">
            <h5>{{image.image_name}}</h5>
            <h5>{{image.image_description}}</h5>
            <p class="text-muted">
               Category: ~{{image.img_category}}~
                <br>Location: ~{{image.img_location}}~</p>
    </div>
    {% endfor %}
</div>
{%endblock%}