{%extends 'base.html'%}
{% block content %}
{{block.super}}
<div class="container">
    <div class="row">
        {%if categories%}
        <h2>Found {{images|length }} of searched category {{message}}</h2>
        {%for image in images%}
        <div class="col-md-4 col-sm-6 col-lg-6 col-xs-6">
            <img src="{{image.image_url.url}}" class="rounded img-responsive" alt="category image">
        </div>
        {% endfor %}
        {%else%}
        <h2>Found 0 categories of searched category {{message}}</h2>
    </div>
    {% endif %}
</div>
{%endblock%}